<%- include("header") -%>
<div class="exp_form">
<form action="/addfund" method="post" class="form_grp">
    <div><input type="number" name="amount" id ="amount" placeholder="Enter Amount"></div>
    <button class="a_btn">Add Fund</button>
</form>
</div>