<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense-Tracker</title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="icon" 
      type="image/png" 
      href="css/logo.png">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/"><img src="css/logo.png" class="circle" alt="logo" width="50" height="50"></a></li>
            <li><a href="/" class="menu-button">Home</a></li>
            <li><a href="/addfund" class="menu-button">Add Fund</a></li>
            <li><a href="/balance" class="menu-button">Check Balance</a></li>
            <li><a href="/expense" class="menu-button">Expense</a></li>
            <li><a href="/logout" class="menu-button logout">Logout</a></li>
        </ul>
    </nav>
</body>
</html>

