<%- include("header") -%>
<div class="exp_form">
    <h3>Add Expense</h3>
    <form action="/" method="post" class="form_grp">
        <div><input type="number" name="expense" id="expense" required placeholder="Enter price"></div>        
        <div><input type="text" name="description" id="description" required placeholder="Description"></div>
        <button class="a_btn">Add</button>
    </form>
</div>
