<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense-Tracker</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="icon" 
      type="image/png" 
      href="css/logo.png">
</head>
<body>
    <div class="log_form">
        <form action="/login" method="post" class="form_grp">
            
            <div><input type="text" placeholder="User-Id" id="user" name="user"></div><br>
            <div><input type="password" placeholder="Password" id="password" name="password"></div><br>
            <button class="a_btn">Login</button><br>
            <h3><a href="/signin">Sign-in</a></h3>
        </form>
    </div>
</body>
</html>
