*{
    box-sizing: border-box;
    list-style: none;
}
body{
    margin: 0px;
    
}
.log_form{
    border: 2px solid  rgba(0, 0, 0, 0.934);
    border-radius: 34px;
    width: 42%;
    margin: 109px 374px;
    padding: 50px;
    padding-top: 8px;
    background-color: rgb(240, 247, 255);
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
}
.form_grp{
    padding-top: 50px;
}
.form_grp div{
    padding: 0px;
    margin-right: 50px;
    align-items: center;
}

.form_grp input{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    width: 316px;
    text-align: center;
    padding: 1px;
    margin: 0px 42px;
    border: 2px solid  rgba(0, 0, 0, 0.934);
    border-radius: 7px;
    background: transparent;
    color: black;
}
.a_btn{
    font-family: 'Ubuntu', sans-serif;
    font-size: 19px;
    margin: 2px 130px;
    width: 33%;
    padding: 1px 0px;
    background: transparent;
    color: rgb(35, 34, 34);
    cursor: pointer;
    border: 2px solid  rgba(0, 0, 0, 0.934);
    border-radius: 7px;
    margin: 5px 130px 0px 130px;
}
.a_btn:hover{
    background:  rgba(0, 0, 0, 0.934);
    color:whitesmoke;
    border: 2px solid  rgba(0, 0, 0, 0.934);
}
.form_grp a{
    margin: 2px 150px;
}
